---

---

<div class="mt-32 grid grid-cols-2">
    <div data-aos="fade-right">
        <img src="/hello.png" alt="" height="480" width="480" />
    </div>
    <div  data-aos="fade-left">
        <h2 class="text-3xl font-recoleta font-extrabold text-white">
            Hello,<br />I'm Muhammad Irhas Albais
        </h2>
        <p class="mt-6 font-poppins text-justify">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
            excepturi aperiam corporis possimus temporibus vitae, cum ullam
            reiciendis ipsum quas quia iste libero doloremque natus tempora
            accusamus voluptates fuga beatae! Eos laboriosam sit quidem at
            temporibus eveniet autem error, illo necessitatibus aperiam
            voluptatibus consectetur ex, alias odio? Quo, ex. Quo quae eius
            excepturi ut odit commodi blanditiis soluta esse cupiditate suscipit
            sit quaerat deserunt doloribus, dolorum saepe quas laudantium
            eligendi similique, nisi voluptas quibusdam enim est. Ea, totam.
            Perferendis assumenda earum ducimus nisi, a, non illum odio
            quibusdam officiis, nihil aut voluptas? Ad, eum eos. Saepe,
            corporis. Quod, ipsam libero?
        </p>
        <div class="flex mt-5 gap-4">
            <svg
                width="30"
                height="30"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25 0C11.1916 0 0 11.4749 0 25.6328C0 36.9561 7.16112 46.5652 17.097 49.9575C18.3477 50.1888 18.7989 49.3998 18.7989 48.7214C18.7989 48.1123 18.7788 46.4984 18.7713 44.3627C11.8157 45.9098 10.3469 40.9241 10.3469 40.9241C9.21396 37.9635 7.57219 37.1745 7.57219 37.1745C5.30379 35.5837 7.74514 35.6197 7.74514 35.6197C10.2567 35.7996 11.5726 38.2616 11.5726 38.2616C13.8034 42.1782 17.4278 41.0475 18.8465 40.3921C19.0746 38.7345 19.7263 37.6037 20.4381 36.9638C14.8887 36.3187 9.05354 34.1188 9.05354 24.2939C9.05354 21.5003 10.0286 19.2079 11.6202 17.4192C11.3671 16.769 10.5023 14.1605 11.8684 10.6345C11.8684 10.6345 13.9663 9.94319 18.7412 13.2584C20.7805 12.6896 22.8841 12.3993 24.9975 12.3949C27.1109 12.3985 29.2146 12.6888 31.2538 13.2584C36.0312 9.94062 38.1266 10.6345 38.1266 10.6345C39.4927 14.1605 38.6355 16.769 38.3748 17.4192C39.9789 19.2079 40.9414 21.4977 40.9414 24.2939C40.9414 34.1445 35.1013 36.3084 29.5318 36.9432C30.4216 37.7348 31.2237 39.2973 31.2237 41.6874C31.2237 45.1157 31.1936 47.881 31.1936 48.7214C31.1936 49.4076 31.6398 50.2042 32.9156 49.9524C42.8464 46.5549 50 36.9535 50 25.6328C50 11.4749 38.8084 0 25 0Z"
                    fill="#F8F2F9"></path>
            </svg>
            <svg
                width="30"
                height="30"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M25.0075 7.70499e-05C18.378 0.00671969 12.0219 2.64208 7.33364 7.32796C2.64542 12.0138 0.0079902 18.3675 1.42131e-05 24.995C-0.00500736 29.7139 1.32069 34.3123 3.82143 38.2932L4.41398 39.237L1.88813 48.4588L11.3538 45.9789L12.2627 46.5211C16.1168 48.8015 20.5138 50.0032 24.9924 50H24.9974C31.6248 49.9907 37.9781 47.355 42.6648 42.6707C47.3515 37.9863 49.9892 31.6354 49.9998 25.0101C50.0113 21.7261 49.371 18.4724 48.116 15.4375C46.861 12.4025 45.0162 9.64665 42.6884 7.32938C40.3727 4.9993 37.6176 3.1517 34.5826 1.8936C31.5476 0.635494 28.293 -0.00810534 25.0075 7.70499e-05ZM39.7106 35.7329C39.0829 37.49 36.08 39.0864 34.6388 39.3022C33.0589 39.5746 31.4371 39.4731 29.9035 39.006C28.4485 38.5556 27.0187 38.0278 25.6201 37.4247C18.0777 34.1717 13.1565 26.5864 12.7749 26.0793C12.4033 25.5773 9.71174 22.003 9.71174 18.3083C9.71174 14.6085 11.6501 12.7912 12.338 12.0382C12.5906 11.7529 12.8994 11.5227 13.245 11.362C13.5906 11.2014 13.9656 11.1137 14.3467 11.1045C14.8488 11.1045 15.3459 11.1095 15.7878 11.1296C16.2498 11.1497 16.8675 10.9539 17.4751 12.4197C18.1028 13.9258 19.6093 17.6205 19.7951 17.997C19.9809 18.3685 20.1064 18.8103 19.8603 19.3123C19.6093 19.8193 19.4888 20.1255 19.1071 20.5673C18.7355 21.0091 18.3187 21.5462 17.9823 21.8876C17.6057 22.2591 17.214 22.6657 17.6509 23.4187C18.0928 24.1667 19.5992 26.6316 21.8288 28.6245C24.7011 31.1848 27.1266 31.9729 27.8748 32.3544C28.628 32.7259 29.0649 32.6707 29.5068 32.1637C29.9437 31.6566 31.3849 29.9699 31.887 29.2219C32.3892 28.4689 32.8863 28.5944 33.5793 28.8404C34.2672 29.0964 37.9631 30.9087 38.7113 31.2852C39.4545 31.6566 39.9617 31.8474 40.1525 32.1637C40.3333 32.4749 40.3333 33.9759 39.7106 35.7329Z"
                    fill="#F8F2F9"></path>
            </svg>
            <svg
                width="30"
                height="30"
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M41 4H9C6.24 4 4 6.24 4 9V41C4 43.76 6.24 46 9 46H41C43.76 46 46 43.76 46 41V9C46 6.24 43.76 4 41 4ZM17 20V39H11V20H17ZM11 14.47C11 13.07 12.2 12 14 12C15.8 12 16.93 13.07 17 14.47C17 15.87 15.88 17 14 17C12.2 17 11 15.87 11 14.47ZM39 39H33C33 39 33 29.74 33 29C33 27 32 25 29.5 24.96H29.42C27 24.96 26 27.02 26 29C26 29.91 26 39 26 39H20V20H26V22.56C26 22.56 27.93 20 31.81 20C35.78 20 39 22.73 39 28.26V39Z"
                    fill="white"></path>
            </svg>
        </div>
    </div>
</div>
