---

---

<div class="navbar bg-base-100">
    <div class="flex-1 justify-between">
      <a class="btn btn-ghost text-xl font-recoleta inline">Irhasalba</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 font-recoleta">
        <li><a>Home</a></li>
        <li><a>Portofolio</a></li>
        <li><a>Contact Me</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>