---

---

<div class="flex flex-row">
    <div class="w-[796px] h-[223px] ml-5" data-aos="fade-down" data-aos-delay="300">
        <h1 class="font-recoleta text-6xl font-extrabold">I'm Fullstack <br>Sotware Engineer</h1>
        <p class="font-poppins text-sm font-thin">My expertise in backend software engineer</p>
        <button class="btn btn-outline mt-5 font-thin">Contact Me</button>
    </div>
    <div class="ml-36 mt-7" data-aos="fade-down" data-aos-delay="300">
        <ul class="font-poppins text-md font-light inline gap-y-3">
            <li class="mb-5">Project Result <span class="border w-[50px] h-[25px] inline-block text-center rounded-full ml-14 font-recoleta font-extrabold text-white">10+</span></li>
            <li class="pb-6">Working Experience <span class="border w-[50px] h-[25px] inline-block text-center rounded-full ml-2 font-recoleta font-extrabold text-white">3+</span></li>
        </ul>
    </div>
</div>