---

---

<div class="flex flex-col md:flex-row content-center">
    <div class="md:w-[796px] md:h-[223px] ml-5 text-center md:text-left mt-5" data-aos="fade-down" data-aos-delay="300">
        <h1 class="font-recoleta md:text-6xl text-4xl font-extrabold">I'm Fullstack <br>Sotware Engineer</h1>
        <p class="font-poppins text-sm font-thin mt-2">My expertise in backend software engineer</p>
        <a class="btn btn-outline mt-5 font-thin" href="https://drive.google.com/file/d/10AHR3fs3kON4wEze8D-8DvOJh_zTsbAe/view" target="_blank">Download My Resume</a>
    </div>
    <div class="md:ml-36 mt-7 items-center text-center" data-aos="fade-down" data-aos-delay="300">
        <div class="font-poppins text-md font-light inline">
            <div class="flex mb-5 flex-col items-center md:flex-row">
                <p class="py-4">Project Result</p>
                <span class="border w-[50px] h-[50px] text-center md:ml-16 leading-10 py-1 rounded-full font-recoleta font-extrabold text-white">10+</span>
            </div>
            <div class="flex mb-5 flex-col items-center md:flex-row">
                <p class="py-4">Working Experience</p>
                <span class="border w-[50px] h-[50px] text-center md:ml-5 leading-10 py-1 rounded-full font-recoleta font-extrabold text-white">3+</span>
            </div>
        </div>
    </div>
</div>