---
import Card from "./card.astro"
---

<div class="transition-all ease-in mt-32 text-center md:text-left"  data-aos="fade-down">
    <div class="md:w-[468px] md:h-[130px] mb-3">
        <h1 class="font-recoleta text-3xl font-bold text-white">Come See <br>My Best Work</h1>
        <p class="font-poppins text-sm">There my latest portofolio</p>
    </div>
    <div class="grid md:grid-cols-3 gap-y-5 text-left">
        <Card projectName="Pinjam Modal Internal Apps" altImg="pm internal" imageUrl="/pinjam_modal_internal.png" tags="Web Apps" description="an internal apps for support pinjam modal bussiness"/>
        <Card projectName="Flexy Distribution Management Systems" altImg="flexy" imageUrl="/flexy.png" tags="Web Apps" description="saas DMS for small to bigger bussiness retail or warehousing"/>
        <Card projectName="NaMa Nutrition Assesment Management" altImg="nama" imageUrl="/dietela.png" tags="Web Apps" description="Web Quiz For Assesment Nutrition Management"/>
        <Card projectName="Fintech Analytics Dashboard Flexy" altImg="flexy fintech" imageUrl="/fintech_flexy.png" tags="Web Apps" description="Analytics Dashboard Fintech Flexy"/>
    </div>
</div>